.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 12%;
    background-color: #ffffff;
}

.about-left {
    flex: 1;
    font-size: 18px;
    line-height: 1.7;
    color: #333;
}

.about-left h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 25px;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.12);
}
